<div class="container">
    <div class="row">
        <div class="col-sm-2">BenchMark File</div>
        <div class="col-sm-2"> <input type="file" name="txtBenchMark" id="txtBenchMark"> </div>
    </div>
    <div class="row">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-sm-2">Test File</div>
        <div class="col-sm-2"> <input type="file" name="txtTest" id="txtTest"> </div>
    </div>
    <div class="row">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-2"> <input type="button" value="Upload" [routerLink]="['/visualize']" > </div>
    </div>


</div>
