<div class="container">
    <div class="row">
        <div class="col-sm-2">User Name</div>
        <div class="col-sm-2"> <input type="text" name="txtName" id="txtName" /> </div>
    </div>
    <div class="row">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-sm-2">Password</div>
        <div class="col-sm-2"> <input type="password" name="txtPassword" id="txtName" /> </div>
    </div>
    <div class="row">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-2"> <input type="button" value="Submit" [routerLink]="['/analyze']" > </div>
    </div>


</div>
